
AddDefaultCharSet On
AddDefaultCharSet UTF-8

Options -Indexes +MultiViews

<IfModule mod_expires.c>
  ExpiresActive On
</IfModule>

<IfModule mod_headers.c>
  Header add Access-Control-Allow-Origin "*"
  Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
  Header set X-UA-Compatible "IE=Edge"
  # Expires after 1 month
  <filesMatch ".(gif|png|jpg|jpeg|ico|pdf|txt)$">
    Header set Cache-Control "max-age=2592000"
  </filesMatch>
  # Expires after 1 day
  <filesMatch ".(atom|css|html|js|php)$">
    Header set Cache-Control "max-age=86400"
  </filesMatch>
</IfModule>
